{% extends "header.html" %}
{% block content %}
<h3>Team Comparer Selected.</h3>
<p>The main use of this is to compare the coverage of two teams, i.e. compare what Pokemon in the metagame each team is able to cover, and highlight the differences. 
This can also be used to compare cores/Pokemon, or see the coverage spread of a single team/core/Pokemon. </p>
<form action="" method="post">
    {{ form.as_p }}
    {% for tc in team_count%}
        <button type="submit" name="{{ tc }}" class="btn btn-default">{{ tc }}</button>
    {% endfor %}
    <button type="submit" name="add_team" class="btn btn-default">Add Team</button>
    <button type="submit" name="calculate" class="btn btn-default">Generate</button>
</form>
<hr>
<p><em>Pokemon #X (Team Y): </em>This will show the coverage spreads of the teams formed by Pokemon inputted here that on the same team. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Pokemon Field" to input more Pokemon. 
Refresh or return to this page to reset. </p>

<p><em>Weighting: </em>These define how much a NSI/SSI/GSI is worth (in that order). 
There are default weights which describe "to check" and "to counter". 
(These might not show on Safari). 
See the About page for more information if you want to change these from the defaults (Warning: it's complicated). </p>

<p><em>View: </em>Switches beween NSI/SSI/GSI data and NSI to/SSI to/GSI to data. 
"To" data considers how good the team is at checking/countering, and "By" data considers how good the metagame can check/counter the team. 
Note that both the weighting and the view affect the interpretation of the output: </p>
<ul>
<li>[Check Weighting, To]: What the inputted teams check: Compares the offensive threat coverage (what the teams check) of the teams</li>
<li>[Counter Weighting, To]: What the inputted teams counter: Compares the defensive threat coverage (what the teams counter) of the teams</li>
<li>[Check Weighting, By]: What checks the inputted teams: Compares what checks the teams (Not to be confused with "what the teams check")</li>
<li>[Counter Weighting, By]: What counters the inputted teams: Compares how well the teams handle stall (What counters the teams)</li>
</ul>
{% endblock %}