{% extends "header.html" %}
{% block content %}
<h3>Counterteam Generator Selected.</h3>
<p>This generates counterteams. 
In other words, a team (or Pokemon or core) is inputted here, and this generates a team intended to have the best matchup versus the inputted team. </p>
<form action="" method="post">
    {{ form.as_p }}
    <button type="submit" name="add_pkmn_field" class="btn btn-default">Add Pokemon Field</button>
    <button type="submit" name="add_cntr_field" class="btn btn-default">Add Pokemon To Counter Field</button>
    <button type="submit" name="add_blwl_field" class="btn btn-default">Add Blacklist/Whitelist Field</button>
    <button type="submit" name="calculate" class="btn btn-default">Generate</button>
</form>
<hr>
<p><em>Pokemon #X: </em>Pokemon sets entered in these fields will be included in the generated teams. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Pokemon Field" to input more Pokemon. 
Refresh or return to this page to reset. </p>

<p><em>Pokemon To Counter #X: </em>Pokemon sets entered in these fields will make up the team(s) or Pokemon to be counterteamed. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Pokemon Field" to input more Pokemon. 
Refresh or return to this page to reset. </p>

<p><em>Weighting: </em>These define how much a NSI/SSI/GSI is worth (in that order). 
There are default weights which describe "to check" and "to counter". 
(These might not show on Safari). 
See the About page for more information if you want to change these from the defaults (Warning: it's complicated). </p>

<p><em>Optimize: </em>Switches beween NSI/SSI/GSI data and NSI to/SSI to/GSI to data. 
"To" data considers how good a team is at checking/countering, and "By" data considers how good the metagame can check/counter the team. 
Note that both the weighting and the view affect the interpretation of the output: </p>
<ul>
<li>[Check Weighting, To]: Finds teams which check the most: Generates the best teams offensively</li>
<li>[Counter Weighting, To]: Finds the teams which counter the most: Genereates the best teams defensively</li>
<li>[Check Weighting, By]: Finds the teams which are checked the least: Generates the teams that are the hardest to sweep</li>
<li>[Counter Weighting, By]: Finds the teams which are countered the least: Generates the best teams for breaking stall</li>
</ul>

<p><em>*** Important Note For <dfn>Optimize</dfn> When Counterteaming ***: </em>
Due to a low amount of check data (since counterteaming is essentially providing check data with a whitelist), the above interpretations break down. 
For counterteaming most teams, it is best to use [Counter Weighting, By] (and it is unlikely the resulting team will resemble stall). 
For counterteaming certain stall teams, [Counter Weighting, By] might work, but due to the nature of the check compendium data there may be too much 
missing data for the mkmt to know what to use and the teams may end up using Pokemon which do not make sense for a Counterteam. 
Really, the best way to counter a specific stall team is to find a stallbreaker which is not countered by any member of the stall team 
(which is quite easy for a human to do, but the checks compendium is not set up in a way to do this effectively). 

<p><em>Number Of Pokemon To Generate: </em> Size of the generated team / group of Pokemon. 
This can be any number (under or equal to the total number of Pokemon in the check compendium data), but generally this does not exceed 6. </p>

<p><em>Blacklist/Whitelist: </em> Enter Pokemon Sets into these fields. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Blacklist/Whitelist" to input more Pokemon. 
Refresh or return to this page to reset. 
Pokemon inputted here are blacklisted from the generation algorithm (meaning that they won't be included in the teams). </p>

<p><em>Blacklist/Whitelist Mode: </em>If whitelist mode is enabled, only inputted Pokemon are used by the team generator. </p>

<p><em>Blacklist Rain: </em>Puts rain Pokemon on the generation blacklist if in blacklist mode. </p>

<p><em>Make Usage Blind:</em> Normally, the mkmt weights Pokemon by usage by multiplying a Pokemon's set usage with its check weighting. 
The thinking is that it is better to counter 1 Pokemon with 5% usage than 2 Pokemon with 2% usage because the team is more likely to have a 
favorable matchup against a random team on the ladder (5 &gt; 2*2). 
Sometimes, this is unwanted or does not make sense (such as when considering a small fraction of the metagame or counterteaming, 
or when building a team where ladder usage is not representative of what the team is expected to face). </p>

<p><em>Note: </em>Usage Blind Mode is automatically and forced to be enabled when counterteaming. 
This is incase a user does not understand the thinking behind usage weighting but assumes it is always a good thing. 
It makes no sense when counterteaming since every Pokemon has equal usage when considering a single team. </p>

<p><em>Filter Duplicate Species, Megas, and Z-Movers: </em>This removes teams containing more than one Mega Pokemon, Pokemon of the same species, or Z-Move User. </p>
{% endblock %}