{% extends "header.html" %}
{% block content %}
<h3>Custom Generator Selected.</h3>
<p>This allows team generation with full control over the parameters, and is probably the most useful function for competitive team generation. </p>
<form action="" method="post">
    {{ form.as_p }}
    <button type="submit" name="add_pkmn_field" class="btn btn-default">Add Pokemon Field</button>
    <button type="submit" name="add_blwl_field" class="btn btn-default">Add Blacklist/Whitelist Field</button>
    <button type="submit" name="calculate" class="btn btn-default">Generate</button>
</form>
<hr>
<p><em>Pokemon #X: </em>Pokemon sets entered in these fields will be included in the generated teams. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Pokemon Field" to input more Pokemon. 
Refresh or return to this page to reset. </p>

<p><em>Weighting: </em>These define how much a NSI/SSI/GSI is worth (in that order). 
There are default weights which describe "to check" and "to counter". 
(These might not show on Safari). 
See the About page for more information if you want to change these from the defaults (Warning: it's complicated). </p>

<p><em>Optimize: </em>Switches beween NSI/SSI/GSI data and NSI to/SSI to/GSI to data. 
"To" data considers how good a team is at checking/countering, and "By" data considers how good the metagame can check/counter the team. 
Note that both the weighting and the view affect the interpretation of the output: </p>
<ul>
<li>[Check Weighting, To]: Finds teams which check the most: Generates the best teams offensively</li>
<li>[Counter Weighting, To]: Finds the teams which counter the most: Genereates the best teams defensively</li>
<li>[Check Weighting, By]: Finds the teams which are checked the least: Generates the teams that are the hardest to sweep</li>
<li>[Counter Weighting, By]: Finds the teams which are countered the least: Generates the best teams for breaking stall</li>
</ul>

<p><em>Number Of Pokemon To Generate: </em> Size of the generated team / group of Pokemon. 
This can be any number (under or equal to the total number of Pokemon in the check compendium data), but generally this does not exceed 6. </p>

<p><em>Number Of Teams To Display: </em> This is the <dfn>maximum</dfn> number of resulting teams shown. 
Note that (especially for high values) the number of teams shown may be less than the number inputted here. 
25 tends to be a good number. 
Remember that it is good practice to consider many of the generated teams rather than just the very top ones (as lower ones can very well be better). </p>

<p><em>Algorithm: </em></p>
<ul>
<li>[Combinational]: Finds all combinations of the top Pokemon. Since calculating all 
Pokemon combinations is too difficult, this algoritm ranks the Pokemon and takes the top 
17 ~ 19 Pokemon (this automatically scales higher the lower the number of Pokemon being 
generated). Then, it finds the best group from there (so if generating a full team from 
scratch, it finds the best combinations of 6 elite stand-alone Pokemon). This has the 
advnatage of producing teams that are scored higher, and shouldn't miss any top teams. 
However, the teams tend to look alike, and the search is very shallow, especially when 
generating a full team of Pokemon. This is currently the default algorithm for most of 
the mkmt functions because it tends to be smarter in terms of synergy between Pokemon. </li>

<li>[Recursive]: Builds small cores to build bigger cores to build teams. 
For example, a team of 6 is built from two cores of 3, which is each built by a stand-alone 
Pokemon and a core of 2, which is each built from 2 stand-alone Pokemon. This has the advantage 
of 'digging deeper' (considering a very large pool of Pokemon) and theoretically should 
produce good diversity. However, it doesn't consider 'all combinations' and won't find every 
highly rated combination. This is the default for the basic Team Generator function. </li>
</ul>
<p>Note that there is virtually no difference between these methods if generating two or 
less Pokemon, and that the recursive algorithm may fail if a whitelist is set too small (under ~20)</p>

<p><em>Blacklist/Whitelist: </em> Enter Pokemon Sets into these fields. 
Each entry must exactly match with a set in the Checks Compendium build data so use the autocomplete suggestions to help. 
(The suggestions may not work on Safari). 
Click "Add Blacklist/Whitelist" to input more Pokemon. 
Refresh or return to this page to reset. 
Pokemon inputted here are blacklisted from the generation algorithm (meaning that they won't be included in the teams). </p>

<p><em>Blacklist/Whitelist Mode: </em>If whitelist mode is enabled, only inputted Pokemon are used by the team generator. </p>

<p><em>Blacklist Rain: </em>Puts rain Pokemon on the generation blacklist if in blacklist mode. </p>

<p><em>Make Usage Blind:</em> Normally, the mkmt weights Pokemon by usage by multiplying a Pokemon's set usage with its check weighting. 
The thinking is that it is better to counter 1 Pokemon with 5% usage than 2 Pokemon with 2% usage because the team is more likely to have a 
favorable matchup against a random team on the ladder (5 &gt; 2*2). 
Sometimes, this is unwanted or does not make sense (such as when considering a small fraction of the metagame or counterteaming, 
or when building a team where ladder usage is not representative of what the team is expected to face). </p>

<p><em>Filter Duplicate Species, Megas, and Z-Movers: </em>This removes teams containing more than one Mega Pokemon, Pokemon of the same species, or Z-Move User. </p>
{% endblock %}